@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto-Regular";
}

body 
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
background: linear-gradient(to right, var(--color-1), var(--color-2));
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.main {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 20%;
    display: flex;
    background: red;
}
.name__Rocket {
    color: var(--color-5) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: red;
}
.vistas{
    display: flex;
    background: pink;
}
.rockets{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    background: red;
    color: var(--color-5);
    overflow-y: scroll;
    overflow: hidden;
    background: black;
    margin-left: 50px;
    margin-right: 50px;
    
}

.apilar{
    display: flex;
    flex-direction: column;
    background: blue;
    margin-right: 250px;

}
/* Estilos básicos para el velocímetro */
.velocimetro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.velocimetro-container {
    position: relative;
    width: 150px; /* Ajusta el tamaño del velocímetro según necesites */
    height: 150px;
    background: radial-gradient(circle, var(--color-4), var(--color-2));
    border-radius: 50%;
    overflow: hidden;
}

.velocimetro-background {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 4px;
    background-color: var(--color-4); */
}

.ship{
    width: 350px;
    height: 350px;
}
.informacion{
    display: flex;
    flex-direction: column;
    color: var(--color-5);
}
.valores{
    display: flex;
    flex-direction: column;
    color: var(--color-5);
    margin-right: 50px;
}
.Bar{
    color: var(--color-5);
    display: flex;
    flex-direction: row;
}
.footer{
    /* background: red; */
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
  
    /* padding: var(--space-layout-padding-lr); */
}
.footer__ul{
    background: var(--color-3);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    box-shadow: var(--color--1);
    padding-left: 400px;
    padding-right: 400px;
    
}
.footer__ul li{
    list-style: none;
    /* background: var(--color-1); */
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    display: flex;
    justify-content: space-between;
}