@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto-Regular";
}
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Track (fondo de la barra) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la barra de desplazamiento */
}

/* Handle (el 'botón' deslizante) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color del 'botón' de desplazamiento */
    border-radius: 5px; /* Borde redondeado */
}

/* Handle al estar en hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cambia el color al hacer hover */
}
body 
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* .main {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 20%;
    display: flex;
    background: orange;
} */
.name__Rocket {
    color: var(--color-5) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    /* background: red; */
    margin-bottom: 30px;
    margin-top: 20px;
    font-family:"Roboto-Regular"
}
.vistas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    /* background: orange; */
    /* background: var(--color-3); */

}
.rockets{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start ;
    color: var(--color-5);
    overflow-y: scroll;
    overflow: hidden;
    background: var(--color-3-1);
    margin-left: 10px;
    margin-right: 200px;
    gap: 50px;  
}

.apilar{
    display: flex;
    flex-direction: column;
    /* background:red; */
    margin-right:330px;
}
.fila1{
    /* background: red; */

}

.velocimetro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    margin-left: 70px;
    margin-right: 100px;
    /* background:blueviolet; */
    margin-bottom: 50px;
    
}

 .velocimetro-container { 
    position: relative;
    width: 150px; 
    height: 150px;
    background: radial-gradient(circle, var(--color-4), var(--color-2));
    border-radius: 50%;
    overflow: hidden;
    color: var(--color-5);
    display: flex;
    align-items: center; 
}
    

.velocimetro-background {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 20px;
}

.fila2{
    /* background: red; */
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 30px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.imagenes{
    display: flex;
    overflow-x:scroll;
    width: 340px;
    height: 340px;
    gap: 10px;
    background: var(--color-3-1);
    
  
}
.ship{
    background: silver;
    width: 300px;
    height: 300px;
}
.informacion{
    display: flex;
    flex-direction: column;
  
    color: var(--color-5);
    overflow-y: scroll;
    overflow: hidden;
    /* background:violet; */
    background: var(--color-3-1);
    padding-left: 30px;
    padding-bottom: 70px;
}
.informacion2{
    display: flex;
    flex-direction: column;

    color: var(--color-5);
    overflow-y: scroll;
    overflow: hidden;
    /* background: blue; */
    background: var(--color-3-1);
    padding-right: 30px;
    padding-bottom: 70px;
}


.valores{
    display: flex;
    flex-direction: column;
    color: var(--color-5);
    margin-right: 50px;
    background: var(--color-3-1);
}
.bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    margin: 10px 0;
    overflow: hidden;
}

.bar {
    height: 30px;
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    color: white;
    line-height: 30px;
    overflow: hidden;
}

.bar.green { background-color: #4caf50; }
.bar.blue { background-color: #2196f3; }
.bar.red { background-color: #f44336; }
.bar.orange { background-color: #ff9800; }

.footer{
    /* background: red; */
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    bottom: 0px; 
    padding: var(--space-layout-padding-lr);
}
.footer__ul{
    background: var(--color-3);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    box-shadow: var(--color--1);
    padding-left: 100px;
    padding-right: 100px;
    
}
.footer__ul li{
    list-style: none;
    /* background: var(--color-1); */
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
    display: flex;
    justify-content: space-between;
}

#buttonContainer{
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    /* background: red; */
    margin-top: 60px;
    margin-right: 20px;
}

.boton__cohetes{
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
    display: none;
     
}
.boton__cohetes.visible {
    display: inline-block; /* Muestra los botones de cohetes visibles */
  }
.boton__cohetes:hover{

    background-color: rgba(61, 14, 233, 0.5 );
}
.arrow-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    border: 2px solid black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.arrow-button:hover {
    background-color: rgba(61, 14, 233, 0.5 );
}
