:root{
    --color-1: #14162C;
    --color-2: #cfcfd1;
    --color-3: #298bfe;
    --color-4: #e52d2d;
    --color-5: #ffffff;
    --color-6: #ffd733;
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-t: 5px; 
    --layout-imagen-width:100%;
    --layout-imagen-height:350px;

    --layout-imagen-width-detail:100%;
    --layout-imagen-height-detail:385px;

}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/fonts/Roboto/Roboto-Regular.ttf);
}