<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/capsules.css">
    <script type="module" src="../js/main.js"> </script>
    <!-- <script type="module" src="js/main.js" defer></script> -->
    <title>SpaceX</title>
</head>
<body>
    <video autoplay muted loop class="video-background">
        <source src="../storage/images/fondoespacial.mp4" type="video/mp4">
    </video>
    

    <!-- <div class="titulo">
        <h1>capsule</h1>
    </div>
    <main class="contenedores">
        <section class="info1">
            <div class="status">
                <h2>status</h2>
                <h3>retired</h3>
            </div>
            <div class="type">
                <h2>type</h2>
                <h3>Dragon 1.0</h3>
            </div>
            <div class="id">
                <h2>id</h2>
            <h3>sefdsdgdsgdfgd</h3>
        </div>
    </section>

<section class="info3">
<div class="land_landings">
    <h2>Land_landings</h2>
    <h3>0</h3>
</div>
    <div>
        <h2>Last_update</h2>
        <h3>Hanging in atrium at SpaceX HQ in Hawthorn</h3>
    </div>
    <div class="launches">
        <h2>Launches</h2>
        <h3>dsfrhrf1225</h3>
    </div>
</section>
</main>
<section class="info2">
    <div class="reuse__count">
        <h2>reuse count</h2>
        <h3>0</h3>
    </div>
</div>
<div><img src="../storage/images/capsule.png" alt=""></div>
    <div class="last_update">
<div class="water_landings">
<h2>Water_landings</h2>
<h3>1</h3>
</div>
</section> -->

<div class="Capsules"></div>

    <footer class="footer">   
        <ul class="footer__ul">
            <li><a href="../index.html" id="rocketLink"><img src="../storage/images/rocket.svg"></a></li>
            <li><a href="views/capsules.html" id="capsuleLink"><img src="../storage/images/life.svg"></a></li>
            <li><a href="#"><img src="../storage/images/comms.svg"></a></li>
            <li><a href="#"><img src="../storage/images/prop.svg"></a></li>
            <li><a href="#"><img src="../storage/images/mech.svg"></a></li>
            <li><a href="#"><img src="../storage/images/power.svg"></a></li>
            <li><a href="#"><img src="../storage/images/avionic.svg"></a></li>
            <li><a href="#"><img src="../storage/images/gnc.svg"></a></li>
            <li><a href="#"><img src="../storage/images/thermal.svg"></a></li>
        </ul>
    </footer>
            <div id="buttonContainerCapsules" class="buttonContainer">
                <button  class="boton__capsule" id="capsulebutton1">1</button>
                <button class="boton__capsule" id="capsulebutton2">2</button>
                <button class="arrow-button" id="showMoreButton">&#10148;</button>
                <button class="boton__capsule" id="capsulebutton3">3</button>
                <button class="boton__capsule" id="capsulebutton4">4</button>
                <button class="boton__capsule" id="capsulebutton5">5</button>
                <button class="boton__capsule" id="capsulebutton6">6</button>
                <button class="boton__capsule" id="capsulebutton7">7</button>
                <button class="boton__capsule" id="capsulebutton8">8</button>
                <button class="boton__capsule" id="capsulebutton9">9</button>
                <button class="boton__capsule" id="capsulebutton10">10</button>
                <button class="boton__capsule" id="capsulebutton11">11</button>
                <button class="boton__capsule" id="capsulebutton12">12</button>
                <button class="boton__capsule" id="capsulebutton13">13</button>
                <button class="boton__capsule" id="capsulebutton14">14</button>                
                <button class="boton__capsule" id="capsulebutton15">15</button>
                <button class="boton__capsule" id="capsulebutton16">16</button>
                <button class="boton__capsule" id="capsulebutton17">17</button>
                <button class="boton__capsule" id="capsulebutton18">18</button>
                <button class="boton__capsule" id="capsulebutton19">19</button>
                <button class="boton__capsule" id="capsulebutton20">20</button>
                <button class="boton__capsule" id="capsulebutton21">21</button>
                <button class="boton__capsule" id="capsulebutton22">22</button>
                <button class="boton__capsule" id="capsulebutton23">23</button>
                <button class="boton__capsule" id="capsulebutton24">24</button>
                <button class="boton__capsule" id="capsulebutton25">25</button>
            </div>
            
</body>