<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/capsules.css">
    <script type="module" src="js/main.js" defer></script>
    <title>SpaceX</title>
</head>
<body>
    <video autoplay muted loop class="video-background">
        <source src="../storage/images/fondoespacial.mp4" type="video/mp4">
    </video>
    
    <main class="Rockets">    
        <div class="vistas">
            <section class="Rocket" id="rocketSection">
                <!-- Sección para mostrar información del cohete -->
            </section>
        </div>
    </main>
   
    
    <footer class="footer">
        <div class="footer__content">
            <!-- Contenido dinámico del footer -->
        </div>
        <ul class="footer__ul">
            <li><a href="../index.html" id="rocketLink"><img src="storage/images/rocket.svg"></a></li>
            <li><a href="views/capsules.html" id="capsuleLink"><img src="storage/images/life.svg"></a></li>
            <li><a href="#"><img src="../storage/images/comms.svg"></a></li>
            <li><a href="#"><img src="../storage/images/prop.svg"></a></li>
            <li><a href="#"><img src="../storage/images/mech.svg"></a></li>
            <li><a href="#"><img src="../storage/images/power.svg"></a></li>
            <li><a href="#"><img src="../storage/images/avionic.svg"></a></li>
            <li><a href="#"><img src="../storage/images/gnc.svg"></a></li>
            <li><a href="#"><img src="../storage/images/thermal.svg"></a></li>
        </ul>
    </footer>
            <div id="buttonContainer" class="buttonContainer">
                <button  class="boton__cohetes" id="button1">1</button>
                <button class="boton__cohetes" id="button2">2</button>
                <button class="arrow-button" id="showMoreButton">&#10148;</button>
                <button class="boton__cohetes" id="button3">3</button>
                <button class="boton__cohetes" id="button4">4</button>
                <button class="boton__cohetes" id="button5">5</button>
                <button class="boton__cohetes" id="button6">6</button>
                <button class="boton__cohetes" id="button7">7</button>
                <button class="boton__cohetes" id="button8">8</button>
                <button class="boton__cohetes" id="button9">9</button>
                <button class="boton__cohetes" id="button10">10</button>
                <button class="boton__cohetes" id="button11">11</button>
                <button class="boton__cohetes" id="button12">12</button>
                <button class="boton__cohetes" id="button13">13</button>
                <button class="boton__cohetes" id="button14">14</button>                
                <button class="boton__cohetes" id="button15">15</button>
                <button class="boton__cohetes" id="button16">16</button>
                <button class="boton__cohetes" id="button17">17</button>
                <button class="boton__cohetes" id="button18">18</button>
                <button class="boton__cohetes" id="button19">19</button>
                <button class="boton__cohetes" id="button20">20</button>
                <button class="boton__cohetes" id="button21">21</button>
                <button class="boton__cohetes" id="button22">22</button>
                <button class="boton__cohetes" id="button23">23</button>
                <button class="boton__cohetes" id="button24">24</button>
                <button class="boton__cohetes" id="button25">25</button>
            </div>
</body>