<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/company.css">
    <script type="module" src="js/main.js" defer></script>
    <title>company</title>
</head>
<body>
    <video autoplay muted loop class="video-background">
        <source src="../storage/images/fondoespacial.mp4" type="video/mp4">
    </video>
    <div class="titulo">
        <h1>SpaceX</h1>
    </div>
    <main class="contenedores">
        <section class="headquarters">
            <div class="datos">
            <h2>headquarters</h2>
        </div>
            <div>
                <h3>address</h3>
                <h4> rocket road</h4>
            </div>
            <div>
                <h3>city</h3>
                <h4>hawthorne</h4>
            </div>
            <div>
                <h3>state</h3>
                <h4>california</h4>
            </div>
            <div class="imagenx">
                <img src="../storage/images/spacex.jpg" alt="">
            </div>
        </section>
        <section class="info">
            <div>
                <h3>founder</h3>
                <h4>Elon Musk</h4>
            </div>
            <div>
                <h3>founded</h3>
                <h4>2002</h4>
            </div>
            <div>
                <h3>employees</h3>
                <h4>8000</h4>
            </div>
            <div>
                <h3>vehicles</h3>
                <h4>3</h4>
            </div>
            <div>
                <h3>launch_sites</h3>
                <h4>3</h4>
            </div>
            <div>
                <h3>test_sites</h3>
                <h4>1</h4>
            </div>
            <div>
                <h3>ceo</h3>
                <h4>Elon Musk</h4>
            </div>
            <div>
                <h3>ceo</h3>
                <h4>Elon Musk</h4>
            </div>
            <div>
                <h3>coo</h3>
                <h4>Gwynne Shotwell</h4>
            </div>
            <div>
                <h3>cto_propulsion</h3>
                <h4>Tom Mueller"</h4>
            </div>
            <div>
                <h3>valuation</h3>
                <h4>52000000000</h4>
            </div>
            <div>
                <h3>summary</h3>
                <h4>SpaceX designs, manufactures and <br>
                    launches advanced <br>
                     rockets and spacecraft. 
                 </h4>
            </div>
            <div>
                <h3>id</h3>
                <h4>5eb75edc42fea42237d7f3ed</h4>
            </div>
        </section>
        <section class="links" >
            <h2>links</h2>
           <div>
            <h3>website</h3>
            <a href="">www.SpaceX</a>
        </div>
        <div>
            <h3>flickr</h3>
            <a href="">https://www.flickr.com/photos/spacex/</a>
        </div>
        <div>
            <h3>twitter</h3>
            <a href="">https://twitter.com/SpaceX</a>
        </div>
        <div>
            <h3>elon_twitter</h3>
            <a href="">https://twitter.com/elonmusk</a>
        </div>
        <div class="imagenx">
            <img src="../storage/images/elonmusk.png" alt="">
        </div>
        </section>
 
    </main>
    <footer class="footer">   
        <ul class="footer__ul">
            <li><a href="../index.html" id="rocketLink"><img src="../storage/images/rocket.svg"></a></li>
            <li><a href="views/capsules.html" id="capsuleLink"><img src="../storage/images/life.svg"></a></li>
            <li><a href="#"><img src="../storage/images/comms.svg"></a></li>
            <li><a href="#"><img src="../storage/images/prop.svg"></a></li>
            <li><a href="#"><img src="../storage/images/mech.svg"></a></li>
            <li><a href="#"><img src="../storage/images/power.svg"></a></li>
            <li><a href="#"><img src="../storage/images/avionic.svg"></a></li>
            <li><a href="#"><img src="../storage/images/gnc.svg"></a></li>
            <li><a href="#"><img src="../storage/images/thermal.svg"></a></li>
        </ul>
    </footer>
</body>
</html>